{% extends 'coding/base.html' %}
{% load static %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
<div class="row align-items-center justify-content-around">
    <div class="col-md-6 col-xl-6 mb-5">
        <div class="card bg-primary shadow-soft border-light organic-radius p-3">
            <img class="organic-radius img-fluid" src="{% static 'img/large/index.jpg' %}" alt="Photo by Julien BRION from Pexels">
        </div>
    </div>
    <div class="col-md-6 col-xl-5 text-center text-md-left">
        <h2 class="h1 mb-4">About Coding Sky</h2>
        <p class="lead">Coding Sky is a MSc Project at the University of Glasgow. The author of the project is Kai Sun.</p>
        <p class="lead">The application is based on a <strong>Coding Game</strong> developed by Unity, where players can learn coding by playing the game and viewing the reference answers given, write real <strong>Javascript</strong> code in the online code editor, or test their knowledge in the <strong>Quiz</strong> page.</p>
    </div>
</div>
{% endblock %}