<!--

=========================================================
* Neumorphism UI - v1.0.0
=========================================================

* Product Page: https://themesberg.com/product/ui-kits/neumorphism-ui
* Copyright 2020 Themesberg MIT LICENSE (https://www.themesberg.com/licensing#mit)

* Coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

-->
<!DOCTYPE html>
<html lang="en">

{% load static %}
<html>
    <head>        
        {% block head_block %}
        {% endblock %}
        <title>{% block title_block %}{% endblock %} | Coding Sky - Coding Game For Beginners</title>

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="title" content="Coding Sky">
        <meta name="author" content="Kai">

        <link href="{% static 'css/back_top.css' %}" rel="stylesheet">
       
        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
        <link rel="mask-icon" href="{% static 'img/favicon/safari-pinned-tab.svg' %}" color="#ffffff">
        
        <!-- Fontawesome -->
        <link type="text/css" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

        <!-- Pixel CSS -->
        <link type="text/css" href="{% static 'css/neumorphism.css' %}" rel="stylesheet">

    </head>

    <body>        
        <!-- NavBar -->
        <header class="header-global">
            <nav id="navbar-main" aria-label="Primary navigation" class="navbar navbar-main navbar-expand-lg navbar-theme-primary headroom navbar-light navbar-transparent navbar-theme-primary">
                <div class="container position-relative">
                    <a class="navbar-brand shadow-soft py-2 px-3 rounded border border-light mr-lg-4" href="{% url 'coding:index' %}">
                        <img class="navbar-brand-dark" src="{% static 'img/favicon/dark.svg' %}" alt="Logo light">
                        <img class="navbar-brand-light" src="{% static 'img/favicon/dark.svg' %}" alt="Logo dark">
                    </a>
                    <div class="navbar-collapse collapse" id="navbar_global">
                        <div class="navbar-collapse-header">
                            <div class="row">
                                <div class="col-6 collapse-brand">
                                    <a href="{% url 'coding:index' %}" class="navbar-brand shadow-soft py-2 px-3 rounded border border-light">
                                        <img src="{% static 'img/favicon/dark.svg' %}" alt="Coding sky logo">
                                    </a>
                                </div>
                                <div class="col-6 collapse-close">
                                    <a href="#navbar_global" class="fas fa-times" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" title="close" aria-label="Toggle navigation"></a>
                                </div>
                            </div>
                        </div>

                        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
                            <li class="nav-item">
                                <a href="{% url 'coding:gamePage' %}" class="nav-link">Game</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="{% url 'coding:solutionPage' %}" class="nav-link">Solution</a>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'coding:quiz_index' %}" class="nav-link">Quiz</a>
                            </li>
                            <li class="nav-tem">
                                <a href="{% url 'coding:quiz_progress' %}" class="nav-link">Records</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a href="{% url 'coding:about' %}" class="nav-link">About</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a href="{% url 'coding:downloadPage' %}" class="nav-link" data-toggle="dropdown" >
                                    <span class="nav-link-inner-text">Download</span>
                                    <span class="fas fa-angle-down nav-link-arrow ml-2"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1y2rQ00OkZHwIDLubmQBLxCYcbWNEUa15/view?usp=sharing">Windows</a></li>
                                    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1rEb4-Ka2vTd16-Q_GCcXRLeGV185P1b-/view?usp=sharing">Linux</a></li>
                                    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1zWazBspkumb2yQnK96rlIRQ5eNKww_YX/view?usp=sharing">MacOS</a></li>
                                    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1ZV97HOElOP0050ua2qxdp6U-VXwDw2Ey/view?usp=sharing">Android</a></li>
                                    <li><a class="dropdown-item" href="https://drive.google.com/file/d/1OWxpGuif0T5MA1L6G6cGN_41LuZd3Euk/view?usp=sharing">iOS</a></li>
                                </ul>
                            </li>
                            
                            {% if user.is_superuser %}
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">Admin</a>
                            </li>
                            {% endif %}             
                        </ul>
                    </div>
                    
                    <div class="d-flex align-items-center">
                        {% if user.is_authenticated %}
                            <a class="btn btn-primary d-none d-md-inline-block mr-3 totop animate-down-2" href="#">
                                <span class="normaluser"><i class="fas fa-user-alt"></i> Welcome {{user.username}}</span>
                                <span class="backtotop"></span>
                            </a>                            
                            <a class="btn btn-primary d-none d-md-inline-block mr-0 animate-down-2" href="{% url 'coding:logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>                               
                        {% else %}                                    
                            <a class="btn btn-primary d-none d-md-inline-block mr-3 animate-down-2" href="{% url 'coding:register' %}"><i class="fas fa-user-plus"></i> Sign Up</a>                            
                            <a class="btn btn-primary d-none d-md-inline-block mr-0 animate-down-2" href="{% url 'coding:login' %}"><i class="fas fa-sign-in-alt"></i> Login</a>                                                       
                        {% endif %}                        

                        <button class="navbar-toggler ml-2" type="button" data-toggle="collapse" data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </nav>
        </header>
        <br>

        <main>
            <section class="section section bg-soft pb-0 overflow-hidden z-2">
                <div class="container z-2">
                    <div class="container">
                        {% if messages %} {% for message in messages %}
							<div class="sticky-top alert alert-info alert-dismissible shadow-soft fade show" role="alert" id="alert" style="position: absolute; top:auto; bottom:auto; left: 5px; right: 5px; z-index: 999;">
								<span class="alert-inner--icon"><span class="fas fa-bell"></span></span>
								<span class="alert-inner--text"><strong>Info: </strong> {{message}}.</span>
								<button type="button" class="close text-dark" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						{% endfor %} {% endif %}
                    </div>                  
                    {% block body_block %}{% endblock %}                  
                </div>
                   
            </section>
        </main>
            
        {#     <-- FOOTER -->#}
        <footer class="d-flex pb-2 pt-3 pt-md-4 border-top border-light bg-primary">
            <div class="container">                  
                 <div class="row">
                    <div class="col">                       
                        <a href="https://github.com/Siriusq" target="_blank" class="d-flex justify-content-center">
                            <img src="{% static 'img/large/logo1.svg' %}" height="100" class="mb-2" alt="Themesberg Logo">
                        </a>
                        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                            <p class="font-weight-normal font-small mb-0">Copyright © Sirius
                                <span class="current-year">2021</span>. All rights reserved.
                            </p>
                        </div>
                        <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                            <p class="font-weight-normal font-small mb-0"><a href="#">Back to top</a></p>
                        </div>                             
                    </div>
                </div>
            </div>
        </footer>
    

    <!-- JS -->
    <!-- Core -->
    <script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/headroom.js/dist/headroom.min.js' %}"></script>

    <script src="{% static 'js/alert_dismiss.js' %}"></script>

    <!-- Vendor JS -->
    <script src="{% static 'vendor/onscreen/dist/on-screen.umd.min.js' %}"></script>
    <script src="{% static 'vendor/nouislider/distribute/nouislider.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'vendor/waypoints/lib/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'vendor/jarallax/dist/jarallax.min.js' %}"></script>
    <script src="{% static 'vendor/jquery.counterup/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'vendor/jquery-countdown/dist/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'vendor/smooth-scroll/dist/smooth-scroll.polyfills.min.js' %}"></script>
    <script src="{% static 'vendor/prismjs/prism.js' %}"></script>

    <script async defer src="{% static 'js/buttons.js' %}"></script>

    <!-- Neumorphism JS -->
    <script src="{% static 'js/neumorphism.js' %}"></script>

    </body>

</html>