{% extends 'coding/base.html' %}
{% load static %}

{% block head_block %}
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" href="{% static 'unity/css/reset.css' %}">
<link rel="stylesheet" href="{% static 'unity/css/style.css' %}">
{% endblock %}

{% block title_block %}
    Game
{% endblock %}

{% block body_block %}

<div class="webgl-wrapper">
    <div class="aspect"></div>
        <div class="webgl-content">
            <div id="unityContainer">
                <canvas id="unity-canvas" style="background: #E6E7EE"></canvas>
            </div>
        </div>
    </div>
    
    <div>
        <button type="button" class="btn btn-primary btn-sm mr-0 mb-2 mt-2 float-right animate-down-2" data-toggle="tooltip" data-placement="left" title="Click Or Press F" onclick="myGameInstance.SetFullscreen(1)">
            FullScreen
            <span class="mr-1"><span class="fas fa-expand"></span></span>
        </button>    

        <button type="button" class="btn btn-primary btn-sm mr-0 mb-2 mt-2 float-left animate-down-2" data-toggle="tooltip" data-placement="top" title="Click To Show Or Hide" onclick="ShowImage()">
            <span class="ml-1"><span class="fas fa-align-justify"></span></span>
            Hint
        </button>
    </div>

    <div class="row justify-content-center">
        <div class="card-body mr-0 mt-1 mb-10 float-left px-4 py-1">
            <img src="{% static 'img/solution/holder.png' %}" id="getImage" style="display: none; max-height: 500px;" class="shadow-soft rounded scale">
        </div>   
    </div>    
</div>

    <script src="{% static 'unity/MyLoader.js' %}"></script>

    <script>
        var imageIndex;
        createUnityInstance(document.querySelector("#unity-canvas"), {
        dataUrl: "{% static 'unity/Build/3.0.data' %}",
        frameworkUrl: "{% static 'unity/Build/3.0.framework.js' %}",
        codeUrl: "{% static 'unity/Build/3.0.wasm' %}",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "Sirius",
        productName: "CodingSky",
        productVersion: "3.0",
        }).then((unityInstance) => {
        myGameInstance = unityInstance;
        });

        function GetLevel(score,name){
            console.log(score);//控制台输出当前关卡
            imageIndex = score;

            var imageID = document.getElementById('getImage');
            imageID.style.display = "none";
        }

        //显示答案图像
        function ShowImage() {
            var imageID = document.getElementById('getImage');
            if(imageIndex>0){
                imageID.src = "{% static 'img/solution/' %}" + imageIndex + ".png/";
            }else{
                imageID.src = "{% static 'img/solution/holder.png' %}";
            }

            if (imageID.style.display === "none") {
                imageID.style.display = "block";
            } else {
                imageID.style.display = "none";
            }
        }
    </script>
    
    <script>//按F全屏
        var isFullscreen = false;
        document.addEventListener('keydown', function(event) {
            if (event.which === 70) {
                if (!isFullscreen) {
                myGameInstance.SetFullscreen(1);
                } else {
                myGameInstance.SetFullscreen(0);
                }
                isFullscreen = !isFullscreen;
            }
        });
    </script>
{% endblock %}