{% extends 'coding/base.html' %}
{% load i18n %}
{% load static %}
{% block title_block %}{% trans "Quiz" %}{% endblock %}

{% block body_block %}
<div class="row">
  <div class="col-12">
      <div class="card bg-primary shadow-soft border-light mb-8 mt-5">
          <div class="card-body text-center text-md-left">
              <div class="row align-items-center">
                <div class="col-md-3">
                  <img src="{% static 'img/large/quiz.jpg' %}" class="card-img rounded" alt="Code">
                </div> 
                  <div class="col-md-5">
                      <h2 class="mb-1">{{ quiz.title }}</h2>
                      <p class="mb-0">
                        {% trans "Category" %}: {{ quiz.category }}
                      </p>
                      {% if quiz.single_attempt %}
                        <p class="mb-2">{% trans "You will only get one attempt at this quiz" %}.</p>
                      {% endif %}
                      <p class="mb-0">
                        {{ quiz.description }}
                      </p>
                  </div>
                  <div class="col-md-4 mt-4 mt-md-0 text-md-right btn-group-vertical">
                    <a class="btn btn-lg text-info btn-primary mb-3 animate-down-1" href="{% url 'coding:quiz_question' quiz_name=quiz.url %}">
                      <span class="fas fa-hourglass-start mr-2"></span>
                      {% trans "Start quiz" %}
                    </a>
                    <a class="btn btn-lg text-danger btn-primary animate-down-1" href="{% url 'coding:quiz_index' %}">
                      <span class="fas fa-arrow-left mr-2"></span>
                      {% trans "Back" %}
                    </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
